body {
  background-color:#3377ee;
}
p {
  font-style:italic;
}
#first {
  font-family:Verdana;
}
.table {
  font-family:Impact;
}
tr th th {
  font-size:50px;
  background-color:#ff0000;
}
img.medium {
	width:300px;
	height:200px;
}
